@font-face {
    font-family: 'Akira';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/JiayouAkira-MAVEY.otf') format('opentype');
}


body {
    background-color: #ffd1df;
    margin: 0px;
    /* font-family: 'Akira', serif; */
}

img {
    display: block;
    max-width: 100%;
}

/* .lang-english {
    font-size: 50px;
} */

.lang-japanese {
    font-family: 'MS Mincho', serif;
    margin-top: 0;
    /* font-size: 50px; */
}
#header {
    /* text-align: center; */
    font-family: 'Akira', serif;
    font-size: 30px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    display: flex;
    flex-direction: column; 
    align-items: center;
    /* gap: 2px; */
    /* justify-content: space-around;  */

    background-image: url('img/sakura.png');
}


.text {
    font-family: 'MS PMincho', serif;
    font-size: 20px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    justify-content: space-around;

    margin: 50px;

    /* background-color: #E6E6FA; */
}

#select {
    font-family: 'MS PMincho', 'serif';
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#options {
    display: flex;
    justify-content: space-around;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    font-family: 'MS PMincho', 'serif';
}

.button:hover{
    background-color: #C9A9A6;
    text-decoration: underline;
}

#game {
    font-family: 'MS PMincho', serif;  
    font-size: 10px;
    text-align: justify;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#scores {
    font-family: 'MS PMincho', 'serif';
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#computer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#winner {
    font-family:  'MS PMincho', 'serif';

    display: flex;
    flex-direction: column;
    align-items: center;
}

