@font-face {
    font-family: 'Akira';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/JiayouAkira-MAVEY.otf') format('opentype');
}


body {
    background-color: #ffd1df;
    margin: 0px;
    /* font-family: 'Akira', serif; */
}

/* .lang-english {
    font-size: 50px;
} */

.lang-japanese {
    font-family: 'MS Mincho', serif;
    /* font-size: 50px; */
}
#header {
    /* text-align: center; */
    font-family: 'Akira', serif;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 5px;
    padding: 15px;
    justify-content: space-around;

    background-image: url('img/sakura.png');
}

.text {
    font-family: 'MS PMincho', serif;
    font-size: 20px;

    /* display: flex;
    flex-direction: column; */
    /* padding: 10px; */
    /* justify-content: space-around; */

    margin: 50px;

    /* background-color: #E6E6FA; */
}

#select {
    font-family: 'MS PMincho', 'serif';
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#options {
    display: flex;
    justify-content: space-around;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    font-family: 'MS PMincho', 'serif';
}

.button :hover{
    background-color: #C9A9A6;
    text-decoration: underline;
}

#game {
    font-family: 'MS PMincho', serif;  
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#scores {
    font-family: 'MS PMincho', 'serif';

    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#computer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

