@font-face {
    font-family: 'Akira';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/JiayouAkira-MAVEY.otf') format('opentype');
}

body {
    background-color: #ffd1df;
    /* font-family: 'Akira', serif; */
}

/* .lang-english {
    font-size: 50px;
} */

.lang-japanese {
    font-family: 'MS Mincho', serif;
    /* font-size: 50px; */
}
.header {
    /* text-align: center; */
    font-family: 'Akira', serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-image: url('img/sakura.png')
}